<%= flash[:notice] %>

<h2>「素肌を綺麗にしたい」「おすすめの商品を見てほしい」人へ。</h2>

<h4>
  スキンケアの楽しさを共有できるレビューサイト　Beauty Skin　です！</br>
  会員登録後から、ご利用いただけます。
</h4>


<p><%= link_to "Beauty Skin について", about_path %></p>

<% if user_signed_in? %>
<% else %>
  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
<% end %>