<div class="row justify-content-md-center pt-5">
  <div class="col-md">
    <h2 class="font-weight-bold"><%= @user.name %>さんがいいねした投稿</h2>
  </div>
</div>

<%# いいねした投稿一覧 %>
<div class="row pt-5">
  <div class="col-md-8">
    <div class="d-flex flex-wrap">
      <%# 投稿一覧の部分テンプレート %>
      <%= render 'public/posts/index', posts: @posts %>
    </div>
  </div>
</div>

<div class="row justify-content-md-center pt-3">
  <div class="col-md-4 ml-5">
    <%= paginate @posts %>
  </div>
  <div class="col-md-8"></div>
</div>

