<div class="row pt-5">
  <div class="col-md">
    <h2 class="font-weight-bold"><%= @user.name %>さんのプロフィール</h2>
  </div>
</div>


<div class="row justify-content-md-center pt-5">
  <%# ユーザー詳細 %>
  <div class="col-md-4 pt-3">
    <%# ユーザーのプロフィール情報の部分テンプレート %>
    <%= render 'public/users/show', user: @user %>

    <% if @user.is_deleted? %>
      <p class="text-danger text-center mr-3 pt-2">退会済みです</p>
    <% else %>
      <p class="text-center mr-3 pt-2">
        <%= link_to "利用停止する", admin_path, method: :patch, data: {confirm: "利用停止しますか？"}, class:"btn btn-outline-danger" %>
      </p>
    <% end %>
  </div>
</div>
